@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html,body{
  display: block;
  height: 100%;
  place-items: center;
  background: #584153;
}
::selection{
  color: #dddddd;
  background: #f6acc8;
}
.middle-container{
  padding: 25px 30px;
  width: 600px;
  background: #dddddd;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.middle-container .bar{
  margin: 20px 0;
}
.middle-container .bar:first-child{
  margin-top: 0px;
}
.middle-container .bar .info{
  margin-bottom: 5px;
}
.middle-container .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.middle-container .bar .progress-line{
  height: 10px;
  width: 100%;
  background: white;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute ;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #584153;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

span.style {
  left = 0px;
}

.bar .progress-line.java span{
  width: 60%;

}
.bar .progress-line.cpp span{
  width: 35%;
}
.bar .progress-line.csharp span{
  width: 40%;
}
.bar .progress-line.sql span{
  width: 40%;
}
.bar .progress-line.html span{
  width: 45%;
}

.bar .progress-line.linux span{
  width: 30%;
}

.bar .progress-line.git span{
  width: 45%;
}

.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #dddddd;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.java span::after{
  content: "60%";
}
.progress-line.cpp span::after{
  content: "35%";
}
.progress-line.csharp span::after{
  content: "40%";
}
.progress-line.sql span::after{
  content: "40%";
}
.progress-line.html span::after{
  content: "45%";
}

.progress-line.linux span::after{
  content: "30%";
}

.progress-line.git span::after{
  content: "45%";
}
